
    body {
        background-color: plum;
        ;
    }

    hr {
        background-color: azure;
        
        
        
    }
    body {
        color:black;
      }
      
      h1 {
        color:purple ;
      }
        h3
        {
            color:purple ;
        }
      
      
